<table class="table table-striped sortable js-filestable">
	<thead class="thead-light">
		<tr>
			<th>file</th>
			<th>status</th>
			<th class="sorttable_nosort">action</th>
		</tr>
	<thead>

	<tbody>
	<% files.forEach((file) => { %>
		<tr>
			<td><%= file.file %></td>
			<td><%= file.lockedBy ? file.lockedBy + ' (id: ' + file.id + ')' : 'not locked' %></td>
			<td>
				<a class="btn btn-primary btn-sm js-lock"
					href="javascript:///"
					data-file="<%= file.file %>"
					style="<%= file.lockedBy ? 'display: none;' : '' %>"
				>
					Lock
				</a>
				<a class="btn btn-danger btn-sm js-unlock"
					href="javascript:///"
					data-file="<%= file.file %>"
					style="<%= file.lockedBy ? '' : 'display: none;' %>"
				>
					Unlock
				</a>
			</td>
		</tr>
	<% }); %>
	</tbody>
</table>

<div class="float-right">
	<div style="display: inline;">
		<a class="btn btn-primary btn-sm js-open-folder" href="javascript:///">Open another folder</a>
		<input type="file" style="display: none" class="js-open-folder-input" webkitdirectory />
	</div>
	<a class="btn btn-secondary btn-sm js-refresh" href="javascript:///">
		Refresh
	</a>
</div>
